spring:
  application:
    name: elune-sample-domain-portal-${random.value}
  boot:
    admin:
      url: http://localhost:8081
      client:
        enabled: false
        service-url: http://localhost:8080/elune-sample-domain-portal
  dubbo:
    application:
      name: elune-sample-service-consumer
    registry:
      address: zookeeper://localhost:2181
    scan: com.outwit.elune.portal
    consumer:
      filter: spanConsumer
  aop:
    proxy-target-class: true
    auto: true
management:
  security:
    enabled: false
